<html>

    <head>
        <title>Understanding Code</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='css/mystyles.css') }}">
        <script src="{{ url_for('static', filename='js/myscript.js') }}"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    </head>

    <body class='body_style' onload='body_loaded()'>
        <div id='keystyles'><img id='key_img' src=''></div>
        <center>
            <br>
            <div class='heading rounded_edges'>
                <b><span id='heading'></span></b>
            </div>
            <br>

            <img id='main_image' onclick='' class='rounded_edges' src='' width='500px'>

            <br><br>
            <!-- Note we can assign multiple classes to an element -->
            <div class='text_block rounded_edges'>
                <br>
                <p><span id='text_body'></span></p>
                <br><br>
            </div>
            <br>

            <span class='btn_move rounded_edges' onclick='left_click()'>Left</span>

            <span class='divider'></span>

            <span class='btn_move rounded_edges' onclick='right_click()'>Right</span>



        </center>
    </body>
</html>
