<html>
  <head>
    <link rel="stylesheet" href="/static/main.css">
    {% if title %}
      <title>{{ title }} - microblog</title>
    {% else %}
      <title>Welcome to microblog</title>
    {% endif %}
  </head>
  <body>
    <ul>
      <li>Microblog:</li>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ messages }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
