<html>
  <head>
    <link rel="stylesheet" href="/static/main.css">
    {% if title %}
      <title>{{ title }} - microblog</title>
    {% else %}
      <title>Welcome to microblog</title>
    {% endif %}
  </head>
  <body>
    <ul>
      <li>Microblog:</li>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      {% if g.user.is_authenticated %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">Your profile</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% endif %}
    </ul>

    <hr>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ messages }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
