{% extends 'base.html' %}

{% block content %}
  <script type="text/javascript">
    function set_openid(openid, pr)
    {
        u = openid.search('<username>')
        if (u != -1) {
            // openid requires username
            user = prompt('Enter your ' + provider + ' username:')
            openid = openid.substr(0, u) + user
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid
    }
  </script>

  <h1>Sign in</h1>
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <div>
      <label>Please enter your OpenID</label>
      {{ form.openid(size=80) }}
      {% for error in form.openid.errors %}
        <span class="log-Form_error">{{ error }}</span>
      {% endfor %}
      {% for provider in providers %}
        <li><a href="javascript:set_openid('{{ provider.url }}', '{{ provider.name }}');">{{ provider.name }}</a></li>
      {% endfor %}
    </div>
    <div>
      <p>{{ form.remember_me }} Remember Me</p>
    </div>
    <div>
      <input type="submit" name="" value="Sign in">
    </div>
  </form>
{% endblock %}
