<html>
 <head>
  <title>Example site</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.classless.min.css">
 </head>
 <body>
  <main>
    <h1>Your to-do list</h1>
    {% block todo_container %}{% endblock %}
  </main>
 </body>
</html>
