<!DOCTYPE html>
<html>
  <head>
    <title>Headlines</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
    <h1>Headlines</h1>
    <form>
       <input type="text" name="publication" placeholder="search" />
       <input type="submit" value="Submit" />
    </form>
    {% for article in articles %}
      <div class="hl-Article_Wrapper">
        <span class="hl-Article_Title"><a href="{{ article.link }}">{{ article.title }}</a></span>
        <span class="hl-Article_Published">{{ article.published }}</span>
        <p class="hl-Article_Summary">{{ article.summary }}</p>
      </div>
    {% endfor %}
  </body>
</html>
