<!DOCTYPE html>
<html>
<head>
  <title>The header</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
  <ul>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
  </ul>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  <div class="gl-Page">
    <h1>Flaskr</h1>
    {% block body %}{% endblock %}
  </div>
</body>
</html>
