.se-List
    list-style: none;
    margin: 0;
    padding: 0;

.se-List_Item
    margin: 0.8em 1.2em;

.se-List_ItemHeader
    margin-left: -1em;

.se-AddEntry
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;

.se-AddEntry_List
    font-weight: bold;
